* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background: black;
    z-index: -3000;
}

#text {
    color: rgb(21, 241, 194);
    font-size: 10rem;
    position: relative;
    top: 14rem;
    z-index: 4;
}